.container.hero-unit
  = render 'action_modal', winId: :successSaveWin, title: 'Оповещение созданно'
  = render 'action_modal', winId: :failureSaveWin, title: 'Ошибка при создании Оповещения'
  = render 'create_alert_modal'
  = render 'currency_block', title: 'usd'
  .span12
    %hr
  = render 'currency_block', title: 'eur'